
/*COLORS*/
$red-back:#333775;
$red-hover: #17194c;
$red-border:#b82c2b;
$white: #f6f6f6;
$green-bg: #6fdc94;
$border-color: #ddecf8;
$blue-bg:#4bcffa;
$gray: #4c4c4c;
$green-light:#c3efe0c7;
$air-color-light:#f3f9ff;
$yellow-light:#f7f7f7;
$purple-light:#e2e3e5;
.owl-carousel{
  button{
    outline: none;
  }
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  word-break: break-word;
  overflow-x: hidden;
}
section{
}
.m-b-15{
  margin-bottom: 15px;
}
button{
  outline: none;
}
.overlay-car{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(28, 202, 205, 0.38);
}
.modal-blue{
  background-color: $blue-bg;
}
.modal-green{
  background-color: $green-bg;
}
.main-modal{
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: white;
  .main-modal-heading{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    a{
      color: $white;
      text-decoration: none;
      i{
        margin-right: 10px;      }
    }
    a:hover{
      color: $white;
      text-decoration: none;
    }
  }
  .main-modal-inner{
    padding: 5px;
    a{
      color: $gray;
      cursor: pointer;


    }
    a:hover{
      color: $gray;
      text-decoration: none;
    }
  }
}
.modal-sm{
  margin-bottom: 20px;
  text-align: center;
  a{
    color: $green-bg;
  }
  a:hover{
    text-decoration: none;
    color: $green-bg;
  }
  img{
    padding: 20px;
  }
}

/*--------------------------------------------*/
/*  TOP BANNER SECTION START */
#top-banner{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: $white url('../img/bg-header-lg.png') right center no-repeat;
    .logo{
      margin: 20px 0;
      width: 400px;

    }

}
.banner-links{
  list-style: none;
  display: flex;
  a{
    width: 30px;
    margin: 0 5px;
    transition: all .5s linear;

  }
  a:hover{
    width: 35px;
  }
}

/*  TOP BANNER SECTION END */

/*--------------------------------------------*/
/*   NAV SECTION START */
.nav-heading{
  background-color: $red-back;
  display: none;
  width: 100%;
  height:50px ;
  line-height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  padding: 10px 30px;

  .hamburger{
    color: white;
    font-size: 30px;
    display: block;
    cursor: pointer;
  }
}
.open-nav{
  height: 400px !important;
  opacity: 1 !important;
}
nav.main-nav{
  width: 100%;
  background-color: $red-back;
  display: flex;
  justify-content: center;
  align-content: center;
  .hamburger{
    display: none;
  }
  .navbar>li>a:hover{
      color: $white;
      background-color: $red-hover;
      font-size: 1.2em;
  }
  ul.navbar{
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.4s ease-in-out, height 0.2s ease-in-out;

    li{
      padding: 15px 0;
    }
      li a{
        color: $white;
        font-size: 1.1em;
        width: 100%;
        padding: 16px 20px;
        transition: all 0.5s  linear;
              }

    .nav-dropdown{
      .nav-drop-list{
        position: absolute;
        background-color: $red-hover;
        height:0;
        z-index: 55;
        opacity: 0;
        transition: height 0.4s ease-in,opacity 0.2s ease-out;
        display: none;
        top: 57px;
        }
      .nav-drop-list:hover .nav-dropdown >a{
          background-color: $blue-bg;

        }


    }
    .nav-dropdown:hover .nav-drop-list,.nav-dropdown a:hover .nav-drop-list{
        height: 400px;
      opacity: 1;
      display: block;
    }
  }
}
/*--------------------------------------------*/
/*   NAV SECTION END */



/*--------------------------------------------*/
/*   CAROUSEL SECTION START */
#car-section{
  width: 100%;
  position: relative;
  background-color: $green-light;
  padding:100px 0;


  .notifications{
    overflow: hidden;
    display: inline-block;
    border: 1px solid $border-color;
    border-radius: 5px;
    width: 100%;
    background-color: white;


    .not-heading{
      float: left;
      width: 15%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: $blue-bg;
      a{
        color: $white;
        font-size: 1.3em;
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

      }
      a:hover{
        color: $white;
        text-decoration: none;
      }
    }
    .not-carousel{
      float: left;
      width: 85%;
      padding: 5px 15px;
      .owl-nav{
        position: absolute;
        top: 25%;
        right: 20px;
        button{
          font-size: 20px;
          color: $white;
          background-color: $green-bg;
          margin: 0;
          outline: none;
          width: 50px;
          height: 30px;


        }
        button:hover{
          background-color: #2CB79C;
        }

      }

    }
  }
  .main-carousel{
    overflow: hidden;
    padding: 5px;
    border: 1px solid $border-color;
    background-color: white;
    .owl-nav{
      display: flex;
      justify-content: space-between;
      font-size: 25px;
      button{
        padding: 10px 20px!important;
        border: 1px solid $gray;
        border-radius: 50%;

      }

    }

  }
  .info-side{

  }

}

/*--------------------------------------------*/
/*   CAROUSEL SECTION START */



/*------------------------------------------*/
/*NEWS SECTION START*/
#news{
  background-color: $air-color-light;
  padding: 100px 0;
  .news-item{
    background-color: white;
    padding: 20px 30px;
    margin: 20px;
    a:hover p, a:hover  h6{
      color: $blue-bg;
      transition: all .4s linear;
    }

  }
}



/*------------------------------------------*/
/*NEWS SECTION END*/


tr{
  text-align: center;
}
/*------------------------------------------*/
/*SERVICES SECTION START*/
#services{
  background-color: $yellow-light;
  padding: 100px 0;
  .service-item{
    padding: 20px 25px;
    text-align: center;
    h3{
      color: $green-bg;
      font-size:40px;
    }
    .service-name{
      display: block;
      font-size: 20px;
      font-weight: 700;
      margin: 15px 0;
    }
    .service-detail{
      font-size: 18px;
      font-weight: 400;
      margin: 10px 0;
    }
  }
  .main-modal{
    background-color: white;
  }
}
/*SERVICES SECTION END*/

#events{
  background-color: rgba(255, 254, 209, 0.43);
  padding: 100px 0;
  .events-item{
    background-color: white;
   #myCalendar table tr{
      text-align: center !important;
    }
  }
  .sponsor{
    width: 100%;
    margin-top: 20px;
    .main-modal{
      padding: 20px 40px;
      position: relative;
    }

    .item{
      height: 100px;
      width: 150px;
      display: flex;
      justify-content: center;
    }
    .owl-nav{
      button{
        width: 30px;
        height: 50px;
        font-size: 20px;
        background-color: $green-bg;
        border-radius: 5px;
        color: white;


      }
      button:hover{
        background-color: #4e9c63;
      }
           .owl-prev{
             top: 25%;
             position: absolute;
             left: -4%;
      }
      .owl-next{
        top: 25%;
        position: absolute;
        right: -4%;
      }
    }

  }
  .owl-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/*  FOOTER*/
 footer{
  background-color: $red-back;
  .footer-menu{
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid $white;
      border-right: 1px solid $white;
      border-left: 1px solid $white;
      height: 50px;
      a{
        color: $white;
        padding:15px 10px;
        font-size: 13px;

      }
      a:hover{
        color: $white;
        text-decoration: none;
        background-color: $red-hover;
        font-size: 15px;
        transition:all 0.3s ease-in;
      }
    }
  }
 .copyright{
   padding: 30px 20px;

   color: $white;
   font-size: 11px;
   .text{
     float: left;
   }
   .link{
     float: right;
   }
 }

}
 @import "responsive";
@import "pageType1";